.DS_Store
Thumbs.db
*.pdb
.vscode/
*.swp
*.swo
*.idea/
*.xcodeproj/
*.xcworkspace/
*.pbxuser
*.mode1v3
*.mode2v3
*.mshark
bin/
build*/
*.o
*.out
*.exe
*.dSYM
*.pyc
testlog.txt
*.orig
*.claycache
tags
cscope.out
.gdb_history

