.DS_Store
Thumbs.db
*.pdb
.vscode/
checklist.md
.cache/
compile_commands.json
*.swp
*.swo
*.idea/
*.xcodeproj/
*.xcworkspace/
*.pbxuser
*.mode1v3
*.mode2v3
*.mshark
bin/
build*/
site/
*.o
*.out
*.exe
*.dSYM
*.pyc
testlog.txt
*.orig
*.ceramiccache
ceramicobj-*.obj
core.*
tags
cscope.out
.gdb_history
site/
__pycache__/
doc