[data-md-color-scheme="default"] {
  --md-primary-fg-color:        #b5562a;
  --md-primary-fg-color--light: #c97a50;
  --md-primary-fg-color--dark:  #8c3e1a;
  --md-accent-fg-color:         #d4845a;
}
